<%- include ../layouts/cabecera.ejs %>

<div class="container-md">
  <h1>Herramientas en Ubuntu</h1>
  <div class="card">
    <div class="card-body">
      <p>Empezaremos por ir a la terminal e ingresamos</p>
    </div>
    <div class="card-footer">
      <pre><code>
    sudo apt update
    sudo apt upgrade -y 
  </code></pre>
    </div>
  </div>

  <h2>Python</h2>

  <div class="card">
    <div class="card-body">
      <p>
        En la terminal ingresamos:
        <code>sudo apt-get install python3.10</code> y esperamos a que se
        termine de instalar.
      </p>
      <p>Ahora instalaremos virtualenv: <code>pip3 install virtualenv</code></p>
      <p>
        Creamos una carpeta (Env_ML_DL) donde guardaremos el entorno virtual y
        creamos el entorno virtual e instalaremos con el siguiente comando los
        siguientes módulos.
      </p>
    </div>
    <div class="card-footer">
      <pre><code>
          pip install matplotlib
          pandas numpy scikit-learn tensorflow keras
        </code></pre>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image001.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />

  <div class="card">
    <div class="card-body">
      <p>
        Al terminar y sin haber problema alguno recomiendo apagar y volver a
        encender la computadora y actualizamos el sistema con update y upgrade.
        Con eso terminamos esta parte.
      </p>
    </div>
  </div>

  <h2>Anaconda Navigator</h2>

  <div class="card">
    <div class="card-body">
      <p>
        En el caso de Windows en mas siemple instalar Spyder, pero en Ubuntu
        tenemos que instalar Anaconda Navigator, aunque solo usemos Spyder, hay
        eu hay problemas en descargar Spyder por sí solo, ya que aun depende de
        anaconda.
      </p>

      <p>
        Así que nos dirigimos al sitio web oficial de anaconda navigator en la
        instalación en linux
        <a
          href="https://docs.anaconda.com/anaconda/install/linux/"
          target="_blank"
          rel="noreferrer noopener"
          >https://docs.anaconda.com/anaconda/install/linux/</a
        >
      </p>
      <p>
        Te aparecerá las siguientes instrucciones, puede que cambien las
        instrucciones, así que sugiero seguir las que te salgan.
      </p>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image002.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />

  <div class="card">
    <div class="card-body">
      <p>En mi caso realizare los pasos 1 y 5 .</p>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image003.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />

  <div class="card">
    <div class="card-body">
      <p>
        Con el siguiente comando ejecuto el script para iniciar la instalación:
        <code>sudo bash Anaconda3-2023.03-Linux-x86_64.sh</code>
      </p>
      <p>Aceptamos los términos, los cual sería el paso 5 y 6.</p>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image004.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />

  <div class="card">
    <div class="card-body">
      <p>
        Dejamos la ruta por defecto presionando ENTER, lo cual seria el paso 7.
      </p>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image005.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />

  <div class="card">
    <div class="card-body">
      <p>
        En esta parte debemos escribir <code>si</code>, en caso contrario
        tendremos que entrar a la carpeta de anaconda para activar los entornos
        de anaconda, paso 8.
      </p>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image006.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    <img
    src="/images/0_Req_Ubuntu/image007.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />

  <div class="card">
    <div class="card-body">
      <p>
        En caso de que no puedas activar el entorno virtual tendrás que ir a la
        carpeta de anaconda e ir a los archivos binario y activarla desde ahí.
      </p>

      <p>
        Solo activaremos el entorno de anaconda para poder entrar a anaconda
        navigator, pero usaremos el entorno que creamos anteriormente y que
        tiene los módulos que usaremos.
      </p>

      <p>Para entrar a anaconda navigator ingresamos lo siguiente:</p>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image008.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />
  <div class="card">
    <div class="card-body">
      <p>
        No hay de que preocuparse de las advertencias que salgan. Hemos
        terminado.
      </p>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image009.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />

  <h2>Spyder</h2>

  <p></p>

  <div class="card">
    <div class="card-body">
      <p>Abrimos anaconda navigator y abrimos spyder.</p>
      <p>Este será la pantalla que recibimos</p>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image010.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />
  <div class="card">
    <div class="card-body">
      <p>
        En este momento la consola de spyder usa el entorno de anaconda, pero
        nosotros la cambiaremos al entorno que creamos con virtualenv.
      </p>
      <p>
        Así que vamos a la pestaña de <b>Tools</b>, luego <b>Preferences</b> y
        saldrá la siguiente ventana.
      </p>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image011.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />
  <div class="card">
    <div class="card-body">
      <p>
        Seleccionamos Python Interpreter, daremos clic en
        <b> Use the follow Python interpreter</b>.
      </p>

      <p>
        Se abrirá un cuadro y buscaremos la carpeta donde creamos el entrono
        virtual, entraremos a <b> venv/bin/</b>, buscamos el archivo python3.10
      </p>
    </div>
  </div>
  <img
    src="/images/0_Req_Ubuntu/image012.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />
  <div class="card">
    <div class="card-body">
      <p>Ahora solo queda darle Ok y listo.</p>

      <p>Queda cerrar y volver abrir Spyder.</p>

      <p>Saldrá el siguiente error en la consola.</p>
    </div>
  </div>
  <img
    src="/images/0_Req_Ubuntu/image013.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />
  <div class="card">
    <div class="card-body">
      <p>
        Eso es porque el entorno que creamos no tiene los módulos que necesita
        spyder para trabajar sobre nuestro entorno. Podemos verificar el entorno
        que usa en la parte de abajo cerca de la consola
        <b>custom (Python3.10.6)</b>
      </p>

      <p>En el entorno virtual instalamos el modulo faltante con:</p>

      <p><code>pip install spyder-kernels==2.4.*</code></p>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image014.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />
  <div class="card">
    <div class="card-body">
      <p>
        Verificamos la instalación con
        <code>pip list</code>.
      </p>

      <p>Cerramos y volvemos abrir spyder.</p>
    </div>
  </div>
  <img
    src="/images/0_Req_Ubuntu/image015.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />
  <div class="card">
    <div class="card-body">
      <p>
        Ya no sale el error en consola y hasta abajo sigue diciendo
        <b>custom (Python3.10.6)</b>, significa que ya podemos empezar a
        trabajar sin ning&uacute;n problema.
      </p>
    </div>
  </div>
  <h2>RStudio</h2>
  <div class="card">
    <div class="card-body">
      <p>
        Nos dirigimos a la página oficial de Rstudio en
        <a
          href="https://posit.co/download/rstudio-desktop/"
          target="_blank"
          rel="noreferrer noopener"
          >https://posit.co/download/rstudio-desktop/</a
        >
      </p>

      <p>
        Pero antes tenemos que descargar R, así que damos clic en
        <b>Dowload and install R</b>
      </p>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image016.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />
  <div class="card">
    <div class="card-body">
      <p>Nos llevara al siguiente sitio y seleccionamos descargar en Ubuntu.</p>
    </div>
  </div>
  <img
    src="/images/0_Req_Ubuntu/image017.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />
  <div class="card">
    <div class="card-body">
      <p>
        Saldrán las siguientes isntrucciones, los debes de seguir, al menos
        hasta donde abarca la captura de pantalla. Tal vez pueden cambiar al
        momento que estes leyendo eso, así que sigue las que te salgan a ti.
      </p>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image018.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />
  <div class="card">
    <div class="card-body">
      <p>
        Una vez seguiste las instrucciones sin ningun problema, regresas a la
        página
        <a
          href="https://posit.co/download/rstudio-desktop/"
          target="_blank"
          rel="noreferrer noopener"
          >https://posit.co/download/rstudio-desktop/</a
        >
        de RStudio y buscas las descargas.
      </p>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image019.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />
  <div class="card">
    <div class="card-body">
      <p>En mi caso debo de descargar el de Ubuntu 22.</p>

      <p>
        Instalamos con el siguiente comando:
        <code>sudo dpkg -i rstudio-2023.03.0-386-amd64.deb</code> y esperamos.
      </p>
    </div>
  </div>
  <img
    src="/images/0_Req_Ubuntu/image020.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />
  <div class="card">
    <div class="card-body">
      <p>
        Ahora buscamos Rstudio en el men&uacute; y lo abrimos. Hemos terminado
      </p>
    </div>
  </div>

  <img
    src="/images/0_Req_Ubuntu/image021.png"
    class="img-fluid rounded mx-auto d-block mb-2"
    alt="Descripción de la imagen"
  />
</div>

<%- include ../layouts/pie.ejs %>
