<%- include ../layouts/cabecera.ejs %>

<main>

  <div>
    <div>
      <p>
        Iniciando&nbsp;en el Deep&nbsp;Learning&nbsp;y
        Machine&nbsp;Learning.&nbsp;
      </p>
    </div>
    <div>
      <p>&nbsp;</p>
    </div>
    <div>
      <p>&nbsp;</p>
    </div>
    <div>
      <p>Requisitos:&nbsp;</p>
    </div>
    <div>
      <ul>
        <li>
          <p>Fundamentos&nbsp;en programaci&oacute;n y algoritmia.&nbsp;</p>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div>
      <ul>
        <li>
          <p>Estructura de datos.&nbsp;</p>
        </li>
        <li>
          <p>
            Nivel&nbsp;avanzado&nbsp;en Python y de entornos virtuales.&nbsp;
          </p>
        </li>
        <li>
          <p>Ubuntu o&nbsp;Windows&nbsp;10 u 11.&nbsp;</p>
        </li>
        <li>
          <p>
            Recomendado tener Git&nbsp;Bash&nbsp;para
            la&nbsp;activaci&oacute;n&nbsp;del entorno virtual.&nbsp;
          </p>
        </li>
      </ul>
    </div>
    <div>
      <p>
        Versiones de Python&nbsp;usado al momento de escribir estos tutoriales:
        3.10.8.&nbsp;
      </p>
    </div>
  </div>
  <div>
    <p>Versi&oacute;n&nbsp;de Ubuntu 22.04.2 LTS&nbsp;</p>
  </div>
  <div>
    <p>Herramientas&nbsp;en&nbsp;Windows&nbsp;</p>
  </div>
  <div>
    <p>Descarga&nbsp;e instalaci&oacute;n de Python&nbsp;&nbsp;</p>
  </div>
  <div>
    <p>&nbsp;</p>
  </div>
  <div>
    <p>
      Ir al sitio oficial en&nbsp;<a
        href="https://www.python.org/"
        target="_blank"
        rel="noreferrer noopener"
        >https://www.python.org</a
      >
      y buscar la versi&oacute;n&nbsp;m&aacute;s&nbsp;estable, si
      quieres&nbsp;usar&nbsp;la versi&oacute;n
      3.10.8&nbsp;deber&aacute;s&nbsp;escribir la versi&oacute;n en el buscador
      del sitio y descargar el instalador.&nbsp;
    </p>
  </div>
  <div>
    <p>
      Al ejecutar el instalador&nbsp;con permisos de administrador&nbsp;te
      saldr&aacute; la siguiente ventana&nbsp;y seleccionar&nbsp;las
      casillas&nbsp;&ldquo;use&nbsp;admin&nbsp;privileges&nbsp;when&nbsp;installing&nbsp;py.exe&rdquo;&nbsp;y
      &ldquo;Add&nbsp;python.exe&nbsp;to&nbsp;PATH &rdquo;&nbsp;para las
      variables de entorno. Por&nbsp;&uacute;ltimo,&nbsp;dar clic en
      &ldquo;Install&nbsp;Now&rdquo;.&nbsp;
    </p>
  </div>
  <div>
    <img src="/images/1_Req_Windows/image001.jpg" alt="image001.jpg" />
  </div>
  <div>
    <p>
      Esperamos&nbsp;a que termine el proceso de instalaci&oacute;n y
      saldr&aacute; una ventana como la siguiente, y
      habr&aacute;&nbsp;terminado&nbsp;la instalaci&oacute;n y cierras.&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image002.jpg" alt="image002.jpg" />
  <div>
    <p>
      Para ver si se&nbsp;instal&oacute;&nbsp;correctamente abrimos
      la&nbsp;consola con&nbsp;CMD&nbsp;y&nbsp;escribimos&nbsp;Python. Si sale
      una respuesta similar a la
      imagen&nbsp;se&nbsp;instal&oacute;&nbsp;correctamente.&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image003.jpg" alt="image003.jpg" />
  <div>
    <p>Descarga e instalacion de&nbsp;Git&nbsp;</p>
  </div>
  <div>
    <p>
      Ir al sitio oficial de Git&nbsp;<a
        href="https://git-scm.com/download/win"
        target="_blank"
        rel="noreferrer noopener"
        >https://git-scm.com/download/win</a
      >
      y descargas la&nbsp;versi&oacute;n&nbsp;de
      Windows&nbsp;setup&nbsp;de&nbsp;64-bit.&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image004.jpg" alt="image004.jpg" />
  <div>
    <p>
      No se va&nbsp;a profundizar&nbsp;mucho, ya que para la instalaci&oacute;n
      se tendr&aacute;n que aceptar permisos de administrados, aceptar permisos
      de la licencia y puro &ldquo;next&rdquo;&nbsp;y tendremos
      instalado&nbsp;git&nbsp;bash.&nbsp;
    </p>
  </div>
  <div>
    <p>
      Para comprobar la instalaci&oacute;n de&nbsp;git&nbsp;solo damos clic
      derecho en el
      escritorio,&nbsp;&ldquo;mostrar&nbsp;m&aacute;s&nbsp;opciones&rdquo;&nbsp;y&nbsp;daremos
      clic en&nbsp;&ldquo;Git&nbsp;Bash&rdquo;&nbsp;para acceder a una
      consola.&nbsp;
    </p>
  </div>
  <div>
    <p>&nbsp;</p>
  </div>
  <img src="/images/1_Req_Windows/image005.jpg" alt="image005.jpg" />
  <div>
    <p>Entorno&nbsp;virtual&nbsp;</p>
  </div>
  <div>
    <p>
      Instalaremos&nbsp;virtualenv&nbsp;usando&nbsp;pip&nbsp;con el
      siguiente&nbsp;comando:&nbsp;pip&nbsp;install&nbsp;virtualenv&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image006.jpg" alt="image006.jpg" />
  <div>
    <p>
      Crearemos una carpeta dedicada a las actividades a realizar, aqu&iacute;
      lo llamamos &ldquo;Material_ML_DP&rdquo;.&nbsp;
    </p>
  </div>
  <div>
    <p>
      Creamos el entorno virtual con el siguiente
      comando:&nbsp;virtualenv&nbsp;venv&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image007.jpg" alt="image007.jpg" />
  <div>
    <p>
      Se crea una carpeta llamada&nbsp;venv, ahora activamos ele
      entorno&nbsp;con&nbsp;el&nbsp;comando:&nbsp;source&nbsp;venv/Scripts/act&iacute;vate.&nbsp;&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image008.jpg" alt="image008.jpg" />
  <div>
    <p>Si estas en Linux la ruta del activador puede cambiar.&nbsp;</p>
  </div>
  <div>
    <p>
      Si te alg&uacute;n error&nbsp;o no reconoce&nbsp;&ldquo;source&rdquo;, la
      soluci&oacute;n&nbsp;m&aacute;s&nbsp;inmediata seria usar Git&nbsp;bash,
      por lo cual se recomienda no usar&nbsp;s&iacute;mbolo del sistema
      o&nbsp;PowerShell.&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image009.jpg" alt="image009.jpg" />
  <div>
    <p>&nbsp;</p>
  </div>
  <div>
    <p>
      Para ver los m&oacute;dulos instalados en ese entorno virtual
      usamos:&nbsp;pip&nbsp;list&nbsp;
    </p>
  </div>
  <div>
    <p>
      Tenemos un entorno limpio y listo para instalar los m&oacute;dulos que
      com&uacute;nmente se usan para ML y DP y algunos m&oacute;dulos que
      necesitamos para Spyder.&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image010.jpg" alt="image010.jpg" />
  <div>
    <p>Spyder&nbsp;</p>
  </div>
  <div>
    <p>
      Podemos hacer uso de Anaconda&nbsp;Navigator,&nbsp;pero para evitar
      problemas con Windows 10 u 11, con los entornos virtuales&nbsp;y al
      solamente usar&nbsp;Spyder&nbsp;de todas las herramientas que ofrece
      Anaconda&nbsp;Navigator&nbsp;nos dirigimos al
      siguiente&nbsp;https://www.spyder-ide.org/&nbsp;link y descargamos para
      usar en Windows.&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image011.jpg" alt="image011.jpg" />
  <div>
    <p>Descargamos e instalador para 64-bit.&nbsp;</p>
  </div>
  <img src="/images/1_Req_Windows/image012.jpg" alt="image012.jpg" />
  <div>
    <p>
      Una&nbsp;vez&nbsp;descargado&nbsp;procedemos a
      instalarlo,&nbsp;clic&nbsp;en &ldquo;next&rdquo;.&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image013.jpg" alt="image013.jpg" />
  <div>
    <p>Aceptas permisos.&nbsp;</p>
  </div>
  <img src="/images/1_Req_Windows/image014.jpg" alt="image014.jpg" />
  <div>
    <p>
      Aqu&iacute; se puede instalar en otras&nbsp;cuantas,&nbsp;de usuario de tu
      PC, puedes elegir el que quieras.&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image015.jpg" alt="image015.jpg" />
  <div>
    <p>Damos en finalizar y se abrir&aacute; Spyder.&nbsp;</p>
  </div>
  <img src="/images/1_Req_Windows/image016.jpg" alt="image016.jpg" />

  <div>
    <p>Configurar&nbsp;Sypder&nbsp;con el entorno virtual&nbsp;</p>
  </div>
  <div>
    <p>
      Al abrir por primera vez el IDE nos&nbsp;dar&aacute;&nbsp;un
      peque&ntilde;o recorrido por algunas de las opciones,
      la&nbsp;cual&nbsp;puede omitir.&nbsp;En la parte de la
      consola&nbsp;podr&aacute;&nbsp;salirte o no&nbsp;el error del&nbsp;kernel,
      hace falta unos&nbsp;m&oacute;dulos&nbsp;que necesita Spyder para
      funcionar y muestra
      los&nbsp;comandos&nbsp;para&nbsp;agregar&nbsp;dichos&nbsp;m&oacute;dulos,&nbsp;usaremos
      el
      comando&nbsp;&ldquo;pip&nbsp;install&nbsp;spyder-kernels==2.4.*&rdquo;&nbsp;mas&nbsp;adelante.&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image017.jpg" alt="image017.jpg" />
  <div>
    <p>
      Para la&nbsp;configuraci&oacute;n&nbsp;el entorno virtual
      nos&nbsp;dirigimos&nbsp;a la pesta&ntilde;a &ldquo;Tools&rdquo;,
      luego&nbsp;Preferences&nbsp;y se&nbsp;abrir&aacute;&nbsp;la siguiente
      ventana.&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image016.jpg" alt="image016.jpg" />

  <div>
    <p>
      Nos&nbsp;dirigimos&nbsp;a &ldquo;Python&nbsp;Interpreter&rdquo;,
      seleccionamos
      &ldquo;Use&nbsp;the&nbsp;follow&nbsp;Python&nbsp;interpreter&rdquo;, y
      buscamos el archivo.&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image019.jpg" alt="image019.jpg" />
  <div>
    <p>
      Al abrirse la siguiente ventana nos&nbsp;dirigimos&nbsp;a la carpeta donde
      se encuentra el entorno virtual que creamos&nbsp;en
      la&nbsp;secci&oacute;n&nbsp;Entorno virtual,&nbsp;entramos a la
      carpeta&nbsp;venv/Scripts buscamos python.exe&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image020.jpg" alt="image020.jpg" />
  <div>
    <p>Le damos en Ok.&nbsp;</p>
  </div>
  <img src="/images/1_Req_Windows/image021.jpg" alt="image021.jpg" />
  <div>
    <p>
      Ahora cerramos y volvemos a abrir Spyder, puede o no volver a aparecer el
      error&nbsp;en la consola&nbsp;y volvemos a cerrar Spyder.&nbsp;&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image022.jpg" alt="image022.jpg" />
  <div>
    <p>
      Ahora instalamos los&nbsp;m&oacute;dulos&nbsp;de&nbsp;spyder&nbsp;en el
      entorno virtual, activamos el entorno virtual y ejecutamos el siguiente
      comando:
      &ldquo;pip&nbsp;install&nbsp;spyder-kernels==2.4.*&rdquo;&rdquo;&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image023.jpg" alt="image023.jpg" />
  <div>
    <p>
      Esperamos que termine de instalar&nbsp;el&nbsp;modulo&nbsp;y con el
      comando &ldquo;pip&nbsp;list&rdquo; listamos
      los&nbsp;m&oacute;dulos&nbsp;instalados y&nbsp;asi&nbsp;verificaremos que
      este instalado el&nbsp;modulo.&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image024.jpg" alt="image024.jpg" />
  <div>
    <p>
      Cerramos la consola y volvemos abrir Spyder, el error ya
      no&nbsp;deber&iacute;a&nbsp;de aparecer y estaremos listos para trabajar
      en Spyder.&nbsp;
    </p>
  </div>
  <img src="/images/1_Req_Windows/image025.png" alt="image025.png" />

  
</main>

<%- include ../layouts/pie.ejs %>
