<%- include ../layouts/cabecera.ejs %>

<main>
  <div class="container-md">
    <h1>Iniciando en el Deep Learning y Machine Learning.</h1>

    <div class="card">
      <div class="card-header">Requisitos:</div>
      <div class="card-body">
        <ul>
          <li>Fundamentos en programación y algoritmia.</li>
          <li>Estructura de datos.</li>
          <li>Nivel avanzado en Python y de entornos virtuales.</li>
          <li>Ubuntu o Windows 10 u 11.</li>
          <li>
            Recomendado tener Git Bash para la activación del entorno
            virtual.
          </li>
        </ul>
      </div>
      <div class="card-footer">
        
      <li>Versiones de Python usado al momento de escribir estos tutoriales:
          3.10.8.</li>
          <li>Versión de Ubuntu: 22.04.2 LTS.</li>
        
      </div>
    </div>

    <div class="card">
      <div class="card-body">
      <p>
        Ir al sitio oficial en
        <a
          href="https://www.python.org/"
          target="_blank"
          rel="noreferrer noopener"
          >https://www.python.org</a
        >
        y buscar la versión más estable, si quieres usar la
        versión 3.10.8 deberás escribir la versión en el
        buscador del sitio y descargar el instalador.
      </p>
      <p>
        Al ejecutar el instalador con permisos de administrador te saldrá
        la siguiente ventana y seleccionar las casillas <b>use admin
        privileges when installing py.exe</b> y <b>Add python.exe to PATH
        </b> para las variables de entorno. Por último, dar clic en
        <b>Install Now</b>.
      </p>
    </div>
  </div>
    
      <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image001.jpg" alt="image001.jpg" />
    
    <div class="card">
      <div class="card-body">
      <p>
        Esperamos a que termine el proceso de instalación y saldrá
        una ventana como la siguiente, y habrá terminado la
        instalación y cierras.
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image002.jpg" alt="image002.jpg" />
    <div class="card">
      <div class="card-body">
      <p>
        Para ver si se instaló correctamente abrimos la consola con CMD y
        escribimos Python. Si sale una respuesta similar a la imagen se
        instaló correctamente.
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image003.jpg" alt="image003.jpg" />
    
      <h2>Descarga e instalacion de Git</h2>
    
      <div class="card">
        <div class="card-body">
      <p>
        Ir al sitio oficial de Git
        <a
          href="https://git-scm.com/download/win"
          target="_blank"
          rel="noreferrer noopener"
          >https://git-scm.com/download/win</a
        >
        y descargas la versión de Windows setup de 64-bit.
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image004.png" alt="image004.jpg" />
    <div class="card">
      <div class="card-body">
      <p>
        No se va a profundizar mucho, ya que para la instalación se
        tendrán que aceptar permisos de administrados, aceptar permisos
        de la licencia y puro <b>next</b> y tendremos instalado git bash.
      </p>
      <p>
        Para comprobar la instalación de git solo damos clic derecho en
        el escritorio, <b>mostrar más opciones</b> y daremos clic
        en <b>Git Bash</b> para acceder a una consola.
      </p>
    </div>
  </div>
    
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image005.jpg" alt="image005.jpg" />
    
      <h2>Entorno virtual</h2>
    
    <div class="card">
      <div class="card-body">
      <p>
        Instalaremos <b> virtualenv </b> usando pip con el siguiente comando <code>pip install
        virtualenv </code> 
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image006.jpg" alt="image006.jpg" />
    <div class="card">
      <div class="card-body">
      <p>
        Crearemos una carpeta dedicada a las actividades a realizar, aquí
        lo llamamos <b>Material_ML_DP</b>.
      </p>
      <p>
        Creamos el entorno virtual con el siguiente comando <code> virtualenv venv</code> 
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image007.jpg" alt="image007.jpg" />
    <div class="card">
      <div class="card-body">
      <p>
        Se crea una carpeta llamada venv, ahora activamos ele entorno con el
        comando<code>  source venv/Scripts/activate </code> 
      </p>
    </div>
  </div>
    
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image008.jpg" alt="image008.jpg" />
    <div class="card">
      <div class="card-body">
      <p>Si estas en Linux la ruta del activador puede cambiar.</p>
    
      <p>
        Si te algún error o no reconoce <code>source</code>, la
        solución más inmediata seria usar Git bash, por lo cual se
        recomienda no usar símbolo del sistema o PowerShell.
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image009.jpg" alt="image009.jpg" />
    <div class="card">
      <div class="card-body">
      <p>
        Para ver los módulos instalados en ese entorno virtual usamos
      <code> pip list</code> 
      </p>
    
      <p>
        Tenemos un entorno limpio y listo para instalar los módulos que
        comúnmente se usan para ML y DP y algunos módulos que
        necesitamos para Spyder.
      </p>
    </div>
  </div>

    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image010.jpg" alt="image010.jpg" />
  
      <h2>Spyder</h2>
      <div class="card">
        <div class="card-body">
      <p>
        Podemos hacer uso de Anaconda Navigator, pero para evitar problemas con
        Windows 10 u 11, con los entornos virtuales y al solamente usar Spyder
        de todas las herramientas que ofrece Anaconda Navigator nos dirigimos al
        siguiente link <a
        href="https://www.spyder-ide.org/"
        target="_blank"
        rel="noreferrer noopener"
        >https://www.spyder-ide.org/ </a
      >
      y descargamos para usar en
        Windows.
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image011.jpg" alt="image011.jpg" />
    <div class="card">
      <div class="card-body">
      <p>Descargamos e instalador para 64-bit.</p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image012.jpg" alt="image012.jpg" />
    <div class="card">
      <div class="card-body">
      <p>
        Una vez descargado procedemos a instalarlo, clic en <b>next</b>.
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image013.jpg" alt="image013.jpg" />
    <div class="card">
      <div class="card-body">
      <p>Aceptas permisos.</p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image014.jpg" alt="image014.jpg" />
    <div class="card">
      <div class="card-body">
      <p>
        Aquí se puede instalar en otras cuantas, de usuario de tu PC,
        puedes elegir el que quieras.
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image015.jpg" alt="image015.jpg" />
    <div class="card">
      <div class="card-body">
      <p>Damos en finalizar y se abrirá Spyder.</p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image016.jpg" alt="image016.jpg" />

    
      <h2>Configurar Sypder con el entorno virtual</h2>

    <div class="card">
      <div class="card-body">
      <p>
        Al abrir por primera vez el IDE nos dará un pequeño
        recorrido por algunas de las opciones, la cual puede omitir. En la parte
        de la consola podrá salirte o no el error del kernel, hace falta
        unos módulos que necesita Spyder para funcionar y muestra los
        comandos para agregar dichos módulos, usaremos el comando
        <code>pip install spyder-kernels==2.4.*</code> mas adelante.
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image017.jpg" alt="image017.jpg" />
    <div class="card">
      <div class="card-body">
      <p>
        Para la configuración el entorno virtual nos dirigimos a la
        pestaña <b>Tools</b>, luego Preferences y se abrirá
        la siguiente ventana.
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image016.jpg" alt="image016.jpg" />

    <div class="card">
      <div class="card-body">
      <p>
        Nos dirigimos a <b>Python Interpreter</b>, seleccionamos
        <b>Use the follow Python interpreter</b>, y buscamos el archivo.
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image019.jpg" alt="image019.jpg" />
    <div class="card">
      <div class="card-body">
      <p>
        Al abrirse la siguiente ventana nos dirigimos a la carpeta donde se
        encuentra el entorno virtual que creamos en la sección Entorno
        virtual, entramos a la carpeta <b>venv/Scripts</b> buscamos <b>python.exe</b>
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image020.jpg" alt="image020.jpg" />
    <div class="card">
      <div class="card-body">
      <p>Le damos en Ok.</p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image021.jpg" alt="image021.jpg" />
    <div class="card">
      <div class="card-body">
      <p>
        Ahora cerramos y volvemos a abrir Spyder, puede o no volver a aparecer
        el error en la consola y volvemos a cerrar Spyder.
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image022.jpg" alt="image022.jpg" />
    <div class="card">
      <div class="card-body">
      <p>
        Ahora instalamos los módulos de spyder en el entorno virtual,
        activamos el entorno virtual y ejecutamos el siguiente comando
        <code>pip install spyder-kernels==2.4.*</code></code>
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image023.jpg" alt="image023.jpg" />
    <div class="card">
      <div class="card-body">
      <p>
        Esperamos que termine de instalar el modulo y con el comando <code>pip
        list</code> listamos los módulos instalados y asi verificaremos
        que este instalado el modulo.
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image024.jpg" alt="image024.jpg" />
    <div class="card">
      <div class="card-body">
      <p>
        Cerramos la consola y volvemos abrir Spyder, el error ya no
        debería de aparecer y estaremos listos para trabajar en Spyder.
      </p>
    </div>
  </div>
    <img class="img-fluid rounded mx-auto d-block mb-2" src="/images/0_Req_Windows/image025.png" alt="image025.png" />
  </div>
</main>

<%- include ../layouts/pie.ejs %>
