<div class="card">
  <div class="card-header"><h1>Subtitulo</h1></div>

  <div class="card-body">
    <p>
      <!-- Explicacion -->
    </p>
  </div>
  <div class="card-body">
    <h3>Codigo en Python</h3>
    <pre class="code"><code><%= _Py %></code></pre>
    <h3>Codigo en R</h3>
    <pre class="code"><code><%= _R %></code></pre>
  </div>
  <div class="card-footer text-center">
    <!-- insertar link embebido -->
    <iframe src="" width="640" height="480" allow="autoplay"></iframe>
  </div>
</div>
