<%- include layouts/cabecera.ejs %>

<main>
  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Bienvenido</h1>
      
     
    <p class="lead">Aquí encontrarás una amplia variedad de apuntes sobre Inteligencia Artificial, incluyendo temas como:</p>
    <ul>
      <li>Búsqueda en Grafos</li>
      <li>Machine Learning: Clasificación y Clustering</li>
    </ul>
    <p>Los apuntes están diseñados para proporcionar una comprensión profunda y práctica de estos temas. Exploraremos algoritmos de búsqueda en grafos como el algoritmo A* y la búsqueda en profundidad y amplitud.</p>
    <p>En el área de Machine Learning, cubriremos técnicas de clasificación como Regresión Logística, Máquinas de Soporte Vectorial (SVM) y Árboles de Decisión, así como algoritmos de clustering como K-Means y Clustering Jerárquico.</p>
    <p>Además de los apuntes, también ofrecemos recursos complementarios como:</p>
    <ul>
      <li>Videos tutoriales explicativos</li>
      <li>Código en Python y R para implementación práctica</li>
      <li>El dataset utilizado en los ejemplos</li>
    </ul>
    <p>Los videos tutoriales están dirigidos tanto a principiantes como a aquellos con experiencia previa en el tema. Cubren desde conceptos básicos hasta técnicas avanzadas, proporcionando una visión completa de cada tema.</p>
    <p>El código en Python y R se ofrece como una guía práctica para implementar los algoritmos discutidos en los apuntes. Está comentado y estructurado de manera que sea fácil de entender y adaptar según las necesidades específicas del usuario.</p>
    <p>Por último, el dataset utilizado en los ejemplos está disponible para su descarga. Esto permite a los estudiantes practicar y experimentar con los algoritmos de manera independiente, consolidando su comprensión de los conceptos.</p>
    <hr class="my-4">
    <p>Explora nuestros apuntes para obtener el conocimiento que necesitas.</p>
      
    </div>

</main>

<%- include layouts/pie.ejs %>