/* documentacion https: //getbootstrap.com/docs/5.2/layout/breakpoints/ */

/* ======================= Custom Properties==============================*/
:root{
    --first-color : rgb(217,0,98);
    --first-alpha-color : rgba(217,0,98,0.75);

    --second-color : rgb(20,25,45);
    --second-alpha-color : rgba(20,25,45,0.75);

    --third-color : rgb(80,20,100);
    --third-alpha-color : rgba(80,20,100,0.75);

    --link-color:rgb(80,158,227);
    --link-alpha-color:rgba(80,158,227,0.75);

    --text-color:rgb(80,158,227);
    --text-alpha-color:rgba(80,158,227,0.75);

    --bg-color:rgb(245,245,245);
    --bg-alpha-color:rgba(245,245,245,0.75);

}

.card{
    background-color:rgba(255, 255, 255, 0.651);
    border-color:rgba(72, 72, 87, 0.212);
}

.border-primary{
    
}



/* ======================= Reset Styles ==============================*/
body{
    font-family: "Raleway", sans-serif;
}
/* ======================= Bootstrap Styles ==============================*/
/* ======================= My Styles ==============================*/
.console-code {
    background-color: #282c34; /* Color de fondo del bloque */
    color: #61dafb; /* Color del texto */
    font-family: 'Courier New', monospace; /* Fuente monoespaciada para código */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    overflow-x: auto; /* Barra de desplazamiento horizontal si es necesario */
  }
/* ===================================================== */

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}